.radio-station-container{
    background-color: white;
    margin-left: 10%;
    width: 90%;
    min-width: 700px;
    overflow: hidden;
}
.player-wrapper{
    position:absolute;
    width:480px;
    height:300px;
    margin-left: 5%;
    top: 15%;
}
.footer{
    height: 40%;
}
.radio-station-content{
    background-image: linear-gradient(red, yellow);
    height: 450px;
    margin-top: -1%;
}
.st_1_img{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0%;
    z-index: 0;
    min-width: 700px;
}
.radio-name{
    position: absolute;
    left: 65%;
    top: 25%;
    color: white;
    font-size: 30px;
}
.radiopage-loader{
    margin: 10% auto;
    width: 200px;
}